html {
  font-size: 12px;
}
body {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 14vw;
  color: white;
  font-family: 'Archivo Black', sans-serif;
}
h2 {
  font-size: 12vw;
  color: white;
  font-family: 'Archivo Black', sans-serif;
}
h4 {
  font-size: 2rem;
}
.result-text {
  font-family: 'Archivo Black', sans-serif;
  color: #122059;
}
button:focus {
  outline: 0;
}
@media (min-width: 580px) {
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 6vw;
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 6rem;
  }
}
.client-form {
  background: url("../images/bg.svg") no-repeat center center;
  background-size: cover;
  display: grid;
  width: 100vw;
  height: auto;
  overflow: auto;
  text-align: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: "a a a a a a . . . . . ." "b b b b b b b b b b b b" ". . . . c c c c . . . .";
}
.title {
  grid-area: a;
  text-align: left;
  margin: 6rem 0 0 8rem;
}
.check-form {
  grid-area: b;
  margin-top: 12rem;
}
.results {
  grid-area: c;
}
.email {
  width: 30vw;
  border: none;
  border-radius: 2rem;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  background: #051875;
  background: linear-gradient(321deg, rgba(5, 24, 117, 0.4) 0%, rgba(50, 253, 254, 0.4) 100%);
  color: #2b6887;
}
.email:hover {
  width: 85vw;
  outline: 0px;
  -webkit-transition: width 0.3s ease-in;
  -moz-transform: scale(0.5);
  -webkit-transition: width 0.3s ease-out;
}
.email::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #519fc7;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #519fc7;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #519fc7;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #519fc7;
}
.email:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #9ecae0 inset;
  -webkit-text-fill-color: #2b6887;
}
.email:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #9ecae0 inset;
  -webkit-text-fill-color: #2b6887;
}
.check-button {
  grid-area: b;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #65fdfd;
  border: 1px solid #65fdfd;
  border-radius: 2rem;
  color: white;
}
.check-button:active {
  background-color: #32fcfd;
}
@media (min-width: 580px) {
  .email {
    width: 30vw;
  }
  .email:hover {
    width: 30vw;
  }
}
