html {
  font-size: 12px;
}
body {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 14vw;
  color: white;
  font-family: 'Archivo Black', sans-serif;
}
h2 {
  font-size: 12vw;
  color: white;
  font-family: 'Archivo Black', sans-serif;
}
h4 {
  font-size: 2rem;
}
.result-text {
  font-family: 'Archivo Black', sans-serif;
  color: #122059;
}
button:focus {
  outline: 0;
}
@media (min-width: 580px) {
  h1 {
    font-size: 8vw;
  }
  h2 {
    font-size: 6vw;
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 6rem;
  }
}
