html {
  font-size: 8px;
}
body {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-size: 3rem;
  color: white;
  font-family: 'Work Sans', sans-serif;
}
h2 {
  font-size: 2.8rem;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
h3 {
  font-size: 1.6rem;
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
h4 {
  font-size: 1.4rem;
  font-family: 'Work Sans', sans-serif;
  color: white;
  font-weight: 100;
}
.background {
  background: url("../images/mobile_bg.svg") no-repeat;
  background-size: cover;
  display: grid;
  height: 100vh;
  overflow: auto;
}
.email {
  text-decoration: underline;
}
.result-text {
  font-family: 'Work Sans', sans-serif;
  color: #122059;
}
button:focus {
  outline: 0;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  color: #aaaaaa;
  font-family: 'Work Sans', sans-serif;
  margin-top: 1rem;
  font-size: 1.6rem;
}
