@import 'styles.less';

.client-form {
  background: url("../images/mobile_bg.svg") no-repeat;
  background-size: cover;
  display: grid;
  height: 100vh;
  overflow: auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
  ". l l l . . . . m m . ."
  ". b b b b b . . . . . ."
  ". c c c c c c . . . . ."
  ". c c c c c c . . . . ."
  ". c c c c c c . . . . ."
  ". r r r r r r r r r r ."
  ". r r r r r r r r r r ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". . . . . . . . . . . ."
}

.logo-text {
  grid-area: l;
  text-align: center;
  padding-top: 2rem;
  font-family: @logo;
  color: @dark;
  font-size: 6rem;
}

.waitlist-name {
  grid-area: b;
  text-align: center;
  padding-top: 1rem;
  text-transform: uppercase;
}

.title {
  grid-area: c;
  text-align: left;
}

.results {
  grid-area: r;
}

.check-form {
  grid-area: e;
  background-color: white;
  border-radius: 3rem 0;
  display: grid;
  text-align: center;
  margin: 8% 4%;
  padding: 3rem 0 0 0;
  -webkit-box-shadow: 10px 10px 15px -11px rgba(0,0,0,0.7);
  -moz-box-shadow: 10px 10px 15px -11px rgba(0,0,0,0.7);
  box-shadow: 10px 10px 15px -11px rgba(0,0,0,0.7);
}

.email-input {
  display: grid;
  grid-template-areas:
  "cfa"
  "cfb"
}

.email {
  grid-area: cfa;
  height: 4rem;
  width: 90%;
  margin: auto;
  border: none;
  border-bottom: 1px @dark solid;
}

.check-button {
  grid-area: cfb;
  background-color: lighten(@purple, 10%);
  border: 1px solid lighten(@purple, 10%);
  border-radius: 2rem;
  color: @white;
  &:active  {
    background-color: @purple;
  }
  height: 6rem;
  width: 6rem;
  margin: 10% auto 0 auto;
  border-radius: 4rem;
  -webkit-box-shadow: -1px -1px 18px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.2);
  box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.2);
}

/*
.client-form {

  text-align: center;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
  "a a a a a a . . . . . ."
  "b b b b b b b b b b b b"
  ". . . . . c c . . . . ."
}

.title {
  grid-area: a;
  text-align: left;
  margin: 6rem 0 0 8rem;
}

.check-form {
  grid-area: b;
  margin-top: 12rem;
}

.results {
  grid-area: c;
}

.email {
  width: 30vw;
  border: none;
  // border-bottom: 1px solid #666;
  border-radius: 2rem;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  background: rgb(5,24,117);
  background: linear-gradient(321deg, rgba(5,24,117,0.4) 0%, rgba(50,253,254,0.4) 100%);
  // background-color: lighten(@green, 20%);
  color: darken(@green, 20%);
  &:hover {
    width: 85vw;
    outline: 0px;
    -webkit-transition: width .3s ease-in;
    -moz-transform: scale(.5);
    -webkit-transition: width .3s ease-out;
  }
}

.email::-webkit-input-placeholder {
  color: @green;
}

color: @green;
}

  color: @green;
}

  color: @green;
}

.email:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px lighten(@green, 20%) inset;
    -webkit-text-fill-color: darken(@green, 20%);
}
.email:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px lighten(@green, 20%) inset;
    -webkit-text-fill-color: darken(@green, 20%);
}

.check-button {
  grid-area: b;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: lighten(@purple, 10%);
  border: 1px solid lighten(@purple, 10%);
  border-radius: 2rem;
  color: @white;
  &:active  {
    background-color: @purple;
  }
}

@media (min-width: 580px) {
  .email {
    width: 20vw;
    &:hover {
      width: 40vw;
    }
  }
}
*/
