@import 'styles.less';

.app:extend(.background){
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
  ". l l l . . . . m m . ."
  ". b b b b b b . m m . ."
  ". c c c c c c . . . . ."
  ". c c c c c c . . . . ."
  ". c c c c c c . . . . ."
  ". r r r r r r r r r r ."
  ". r r r r r r r r r r ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". . . . . . . . . . . ."
}

.logo-text {
  grid-area: l;
  text-align: center;
  padding-top: 2rem;
  font-family: @logo;
  color: @dark;
  font-size: 6rem;
}

.nav {
  grid-area: m;
}

.waitlist-name {
  grid-area: b;
  text-align: center;
  text-transform: uppercase;
}

.title {
  grid-area: c;
  text-align: left;
}

.results {
  grid-area: r;
}

.check-form {
  grid-area: e;
  background-color: white;
  border-radius: 3rem 0;
  display: grid;
  text-align: center;
  margin: 6% 2%;
  padding: 3rem 0;
  -webkit-box-shadow: 10px 10px 15px -11px rgba(0,0,0,0.7);
  -moz-box-shadow: 10px 10px 15px -11px rgba(0,0,0,0.7);
  box-shadow: 10px 10px 15px -11px rgba(0,0,0,0.7);
}

.email-input {
  display: grid;
  grid-template-areas:
  "cfa"
  "cfb"
}

.email {
  grid-area: cfa;
  height: 4rem;
  width: 90%;
  margin: auto;
  border: none;
  border-bottom: 1px @dark solid;
}

.check-button {
  grid-area: cfb;
  background-color: lighten(@purple, 10%);
  border: 1px solid lighten(@purple, 10%);
  border-radius: 2rem;
  color: @white;
  &:active  {
    background-color: @purple;
  }
  height: 6rem;
  width: 6rem;
  margin: 10% auto 0 auto;
  border-radius: 4rem;
  -webkit-box-shadow: -1px -1px 18px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.2);
  box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.2);
}

.admin-layout:extend(.background) {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
  ". l l l . . . . m m . ."
  ". b b b b b b . m m . ."
  ". c c c c c c . . . . ."
  ". c c c c c c . . . . ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". e e e e e e e e e e ."
  ". . . . f f f f . . . ."
}

.admin-form:extend(.check-form){
  grid-area: e;
  display: grid;
  grid-template-areas:
  "afa"
  "afd"
  "afc"
  "afb"
  "afe"
  "aff"
}

.form-group-a {
  grid-area: afa;
  margin: 1rem;
}
.form-group-b {
  grid-area: afb;
  margin: 1rem;
}
.form-group-c {
  grid-area: afc;
  margin: 1rem;
}
.form-group-d {
  grid-area: afd;
  margin: 1rem;
}
.form-group-e {
  grid-area: afe;
  margin: 1rem;
}
.form-group-f {
  grid-area: afe;
  margin: 1rem;
}

.add-button:extend(.check-button) {
}

.see-more {
  grid-area: f;
  font-family: @font-family;
  text-align: center;
  color: @white;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.list-container {
  display: grid;
  height: 1vh;
  padding: 0 4em;
  margin: auto;
  background-color: #f3f3f3;
  grid-template-areas: "b a c";
}

.name {

}

.status {

}

.date {

}
/*
.email {
  width: 30vw;
  border: none;
  // border-bottom: 1px solid #666;
  border-radius: 2rem;
  font-size: 1.5rem;
  line-height: 3rem;
  text-align: center;
  background: rgb(5,24,117);
  background: linear-gradient(321deg, rgba(5,24,117,0.4) 0%, rgba(50,253,254,0.4) 100%);
  // background-color: lighten(@green, 20%);
  color: darken(@green, 20%);
  &:hover {
    width: 85vw;
    outline: 0px;
    -webkit-transition: width .3s ease-in;
    -moz-transform: scale(.5);
    -webkit-transition: width .3s ease-out;
  }
}

.email::-webkit-input-placeholder {
  color: @green;
}

color: @green;
}

  color: @green;
}

  color: @green;
}

.email:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px lighten(@green, 20%) inset;
    -webkit-text-fill-color: darken(@green, 20%);
}
.email:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px lighten(@green, 20%) inset;
    -webkit-text-fill-color: darken(@green, 20%);
}

.check-button {
  grid-area: b;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: lighten(@purple, 10%);
  border: 1px solid lighten(@purple, 10%);
  border-radius: 2rem;
  color: @white;
  &:active  {
    background-color: @purple;
  }
}

@media (min-width: 580px) {
  .email {
    width: 20vw;
    &:hover {
      width: 40vw;
    }
  }
}
*/
